.content {
  margin-bottom: 15px;
}

.label {
  display: block;
}

.input {
  height: 35px;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 2px solid var(--decorate-color);
  border-radius: 3px;
}

.validation {
  color: red;
  font-size: 14px;
}

.loginButton {
  display: block;
  width: 50%;
  min-width: var(--button-min-width);
  margin: 40px auto;
  margin-top: 40px;
  padding: 8px 0;
  background-color: var(--login-color);
  color: #fff;
  font-weight: bold;
  font-size: var(--font-size-button);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
