.window {
  height: 100vh;
  width: 100%;
  background: url("/character-back-normal.jpg") center/cover;
  overflow: hidden;
}

@media (width <= 768px) {
  .window {
    background: url("/character-back-slim.jpg") center/cover;
  }
}

@media (1100px <= width) {
  .window {
    background: url("/character-back-wide.jpg") center/cover;
  }
}
